<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Publicaciones</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
 <!-- <ion-card class="adv-map">

    <ion-item>
      <ion-avatar item-start>
        <img src="assets/icon/luis.jpg">
      </ion-avatar>
      <h2>Luis Marín</h2>
    </ion-item>
  
    <img src="assets/icon/criollo.jpg">
  
    <ion-card-content>
        <h1>Nombre: Snop Dog 
        <br>Edad: 14
        <br>Raza:Criollo
      </h1>
    </ion-card-content>
  
    <ion-row>
      <ion-col>
        <button ion-button icon-start clear small>
          <ion-icon name="paw" ></ion-icon>
          <div>12 Likes</div>
        </button>
      </ion-col>
      <ion-col>
        <button ion-button icon-start clear small>
          <ion-icon name="chatbubbles"></ion-icon>
          <div>4 Comments</div>
        </button>
      </ion-col>
      <ion-col align-self-center text-center>
        <ion-note>
          11h ago
        </ion-note>
      </ion-col>
    </ion-row>


    <ion-item>
      <ion-avatar item-start>
        <img src="assets/icon/mateo.jpg">
      </ion-avatar>
      <h2>Mateo Concha</h2>
    </ion-item>
  
    <img src="assets/icon/bullterrier.jpg">
  
    <ion-card-content>
        <h1>Nombre: Cancerbero
        <br>Edad: 4
        <br>Raza:Bull Terrier
      </h1>
    </ion-card-content>
  
    <ion-row>
      <ion-col>
        <button ion-button icon-start clear small>
          <ion-icon name="paw"></ion-icon>
          <div>112 Likes</div>
        </button>
      </ion-col>
      <ion-col>
        <button ion-button icon-start clear small>
          <ion-icon name="chatbubbles"></ion-icon>
          <div>0 Comments</div>
        </button>
      </ion-col>
      <ion-col align-self-center text-center>
        <ion-note>
          5 días 
        </ion-note>
      </ion-col>
    </ion-row>
  
    <ion-item>
      <ion-avatar item-start>
        <img src="assets/icon/pablo.jpg">
      </ion-avatar>
      <h2>Pablo Emilio</h2>
    </ion-item>
  
    <img src="assets/icon/gato.jpg">
  
    <ion-card-content>
        <h1>Nombre: Nube
        <br>Edad: 2 mes
        <br>Raza:Criollo
      </h1>
    </ion-card-content>
  
    <ion-row>
      <ion-col>
        <button ion-button icon-start clear small>
          <ion-icon name="paw"></ion-icon>
          <div>1012 Likes</div>
        </button>
      </ion-col>
      <ion-col>
        <button ion-button icon-start clear small>
          <ion-icon name="chatbubbles"></ion-icon>
          <div>10 Comments</div>
        </button>
      </ion-col>
      <ion-col align-self-center text-center>
        <ion-note>
          10h ago 
        </ion-note>
      </ion-col>
    </ion-row>
  </ion-card> -->

  <ion-card>
    <ion-card-header *ngFor="let Publicaciones of publicacion">
      <ion-item>
        <img  style="border-radius:5px ;" class="imagenP" [src]="Publicaciones.foto">
      </ion-item>
      <h6>Nombre: {{Publicaciones.nombre}} </h6>  
      <h6>Edad: {{Publicaciones.edad}} </h6>  
      <h6>Raza: {{Publicaciones.raza}} </h6>  
      <h6>Contacto: {{Publicaciones.contacto}} </h6>  
      <h6>Descripción: {{Publicaciones.descripcion}} </h6>  
  
    </ion-card-header>
  </ion-card>

</ion-content>
