<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label class="normal" position="floating">
      Usuario:
    </ion-label>
    <ion-input [(ngModel)]="login.usuario" class="normal" type="text" inputmode="text"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label class="normal" position="floating">
      Contraseña:
    </ion-label>
    <ion-input [(ngModel)]="login.email" class="normal" type="password" inputmode="password"></ion-input>
  </ion-item>


    <ion-button [routerLink] = "['/inicio']">Login</ion-button>
  
  </ion-content>

<ion-button (click)="loginGoogles()"> Login con google </ion-button>
  <ion-footer>
    <ion-toolbar color="primary">
      <ion-buttons slot="end">
        <ion-button [routerLink] = "['/registro']">Registrarse</ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-footer>
