<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Publicar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h1 class="ion-text-center">Ingrese los datos de la mascota</h1>
  <ion-item>
    <ion-label class="normal" position="floating">
      Nombre:
    </ion-label>
    <ion-input [(ngModel)]="newPublicacion.nombre" class="normal" type="text" inputmode="text"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label class="normal" position="floating">
      Edad:
    </ion-label>
    <ion-input [(ngModel)]="newPublicacion.edad" class="normal" type="number" inputmode="numeric"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label class="normal" position="floating">
      Raza:
    </ion-label>
    <ion-input [(ngModel)]="newPublicacion.raza" class="normal" type="text" inputmode="text"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label class="normal" position="floating">
      Contacto:
    </ion-label>
    <ion-input [(ngModel)]="newPublicacion.contacto" class="normal" type="number" inputmode="numeric"></ion-input>
  </ion-item>

  <ion-item>
    <ion-textarea [(ngModel)]="newPublicacion.descripcion" placeholder="Descripción de la mascota"></ion-textarea>
  </ion-item>

  <ion-item>
    <ion-label class="normal">
      Foto:
    </ion-label>
    <ion-button>
      <label for="file-upload">
      <ion-icon slot="icon-only" name="image-sharp"></ion-icon>
      </label>
      <input (change)="newImageUpdate($event)" id="file-upload" style="display: none;" type="file" accept="image/*">
    </ion-button>
  </ion-item>

  <ion-item>
    <img class="imagenP" [src]="newPublicacion.foto">
  </ion-item>

  <ion-button style="margin: 10px;" expand="block" color="tertiary"  (click)="guardarPublicacion()"><ion-icon slot="end" name="save-sharp"></ion-icon>
  GUARDAR</ion-button>
  
  <ion-item *ngFor="let Publicaciones of publicacion">
    <ion-label class="normal">{{Publicaciones.nombre}}</ion-label>
    <ion-buttons slot="end">
      <ion-button (click)="newPublicacion = Publicaciones">
        <ion-icon slot="icon-only" name="create-sharp"></ion-icon>
      </ion-button>
      <ion-button (click)="deletePublicacion(Publicaciones)">
        <ion-icon slot="icon-only" color="danger" name="trash-bin"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-item>
  

</ion-content>